{
  "web": {
    "client_id": "windows-keycloak-connector",
    "client_secret": "yoursecrethere",
    "auth_uri": "https://keycloak.com/realms/myrealm/protocol/openid-connect/auth",
    "issuer": "https://keycloak.com/realms/myrealm",
    "redirect_uris": [
    "http://localhost:5000/oidc_callback",
    "http://windows-keycloak-connector.domain.com/oidc_callback"
    ],
    "userinfo_uri": "https://keycloak.com/realms/myrealm/protocol/openid-connect/userinfo",
    "token_uri": "https://keycloak.com/realms/myrealm/protocol/openid-connect/token",
    "token_introspection_uri": "https://keycloak.com/realms/myrealm/protocol/openid-connect/token/introspect"
  }
}